:root{
    --clr-dark: #0f172a ;    
    --clr-light:#f1f5f9;    
    --clr-accent: #e11d48 ;    
}

*,
*::before
*::after{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.container{
    width: 77%;
    height: 500px;
    margin: 0 auto;

}

.item{
    width: 100px;
    height: 100px;
    background-color: #fb7185;
    padding: 1rem;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    /* border: 1px solid var(--clr-accent); */
    border-radius: 10px;
    box-shadow: 15px 15px #e11d48;
    cursor: pointer;
    /* transition: all ease-in-out 100ms; */
}

.item:hover{
    transform: translate(5px, 5px);
    box-shadow: 10px 10px #e11d48;
}

.container{
    display: flex;
    /*flex-direction: column;
    justify-content: space-evenly;*/
    align-items: flex-start; 
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    gap: 1em; 
}

.item-1{
    color: #0f172a;
    background-color: #003C43;
} 
.item-2{
    color: #0f172a;
    background-color: #135D66;
} 
.item-3{
    color: #0f172a;
    background-color: #77B0AA;
} 
.item-4{
    color: #0f172a;
    background-color: #E3FEF7;
} 
.item-5{
    color: #0f172a;
    background-color: rgb(229, 255, 0);
} 
.item-6{
    color: #0f172a;
    background-color: aqua;
} 
.item-7{
    position: sticky;
    top: 50px;
    width: 75%;
    color: #0f172a;
    background-color: rgb(255, 0, 0);
} 
.item-8{
    color: #0f172a;
    background-color: rgb(255, 251, 0);
} 
.item-9{
    color: #0f172a;
    background-color: rgb(255, 0, 238);
} 
.item-10{
    color: #0f172a;
    background-color: rgb(34, 0, 255);
} 
.item-11{
    color: #0f172a;
    background-color: rgb(255, 102, 0);
} 


.item-12{
    color: #0f172a;
    background-color: yellowgreen;
} 